div {
  display: inline;
  margin-left: 65px;
}

#pepole_list {
  margin-top: 55px;
  margin-left: 125px;
  margin-bottom: 65px;
  font-size: 60px;
}

form {
  width: 70%;
  margin-left: 135px;
  margin-top: 35px;
}

button.btn.btn-sucess {
  margin-top: 35px;
}

#add_person {
  margin-top: 35px;
  margin-left: 0px;
  margin-bottom: 65px;
  font-size: 60px;
}

label {
  margin-top: 10px;
  color: blue;
}
